{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block description %}Learn about the inner-workings of Git Stars, and about its creators.{% endblock %}

{% block canonical %}
    <link rel="canonical" href="{{ url('app_about') }}" />
{% endblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumbs.html.twig' with {
        'links' : [
            {
                'title': 'About',
                'link': null
            }
        ]
    } %}
{% endblock %}

{% block body %}
    <div id="about">
        <section class="about">
            <div class="container">
                <div class="row content">
                    <div class="col-lg-6">
                        <h2>GIT stars</h2>
                        <h3>Discover your ranking on GitHub</h3>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            This project was inspired by <a href="http://git-awards.com/" rel="noopener noreferrer" target="_blank">Git Awards</a>!<br>
                            Since it apparently isn't supported anymore we thought we'd take the concept back and add our own touch to it.
                        </p>

                        <p>
                            This was made in couple weeks as an exercise in the context of an internship. <br>
                            We'd love some feedback so don't hesitate to open an issue on the
                            <a href="https://github.com/pgrimaud/git-stars" rel="noopener noreferrer" target="_blank">GitHub repo</a>
                            or send us a <a href="https://twitter.com/gitstars" target="_blank"  rel="noopener noreferrer">Tweet</a> to tell us about your experience!
                        </p>
                        <p class="fst-italic">
                            Original made by <a href="https://github.com/pgrimaud" rel="noopener noreferrer" target="_blank">@pgrimaud</a> and <a href="https://github.com/nispeon" rel="noopener noreferrer" target="_blank">@nispeon</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="features">
            <div class="container">

                <div class="section-title">
                    <h2>About Git Stars</h2>
                    <p>Frequently asked questions</p>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Who are we?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">How does this website works?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Quirky questions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Technologies & Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Cookies & Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <h3>Who are we?</h3>
                                        <p class="fst-italic">This website was created by <a href="https://github.com/pgrimaud" rel="noopener noreferrer" target="_blank">@pgrimaud</a> and <a href="https://github.com/nispeon" rel="noopener noreferrer" target="_blank">@nispeon</a>.</p>
                                        <h4 class="mt-4 mb-4">🤠 pgrimaud:</h4>
                                        <p>
                                            Hola! I'm Pierre, born and raised in Paris 🥖.
                                            I proposed this project to Julien for the beginning of his internship with me.<br>
                                            The main idea was to train him on PHP, Symfony and a very large database,
                                            but also to discover other ways of processing data, asynchronously with RabbitMQ and the Symfony Messenger component. <br>
                                            For me, the biggest challenge was to get a lot of data from Github, aggregate it and have good performance on our website.<br>
                                            Drop me a message on <a href="https://twitter.com/pgrimaud_" rel="noopener noreferrer" target="_blank">Twitter</a> or feel free to open an issue on the repository.
                                        </p>
                                        <h4 class="mt-4 mb-4">🐱 Nispeon:</h4>
                                        <p>
                                            Hi, my name's Julien and I'm a student in web development in Paris.<br>
                                            This website was made during my internship with Pierre in the transition between
                                            my 2nd and 3rd year of college. <br>
                                            It was supposed to be work, but it turned out to be a really fun exercise, and it
                                            taught me a lot of PHP and coding in general. <br>
                                            I'm not the most skillful developer out there (yet!), but I certainly aim to get better
                                            and I'd be happy to talk about development with you, it's always a great way to learn new stuff!<br>
                                            Feel free to reach me on <a href="https://twitter.com/nispeon"  rel="noopener noreferrer" target="_blank">Twitter</a>, and in the meantime, enjoy your visit on Git Stars! <i class="fas fa-star text-warning"></i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <h3>How does it work?</h3>
                                        <p class="fst-italic">It's really not that complicated, though it still required some real thinking.</p>
                                        <p>Without going into details, we are fetching data from GitHub through their <a href="https://docs.github.com/en/rest" target="_blank" rel="noopener noreferrer"   >API</a>
                                            and store it in our database.<br>
                                            Then whenever we find that someone has written something in the "location" input on their account, we
                                            use the <a target="_blank" href="https://photon.komoot.io/" rel="noopener noreferrer">Photon API</a> to geolocate it,
                                            and from there we can create our region-based rankings.
                                        </p>
                                        <h4 class="mt-4 mb-4">
                                            There's over 56 million Github profiles though, how will you fetch all that?</h4>
                                        <p>Well fetching everything is no easy task.<br>
                                            To get all that info, little by little, we have automated the fetching process, and the website is always filling up!<br>
                                            We put a priority on active users though, as to get the most relevant accounts first.
                                            <br>We've also put in place a priority-queue, so that whenever anyone looks for a user on the website,
                                            it's profile is immediately added to our database.
                                        </p>
                                        <h4 class="mt-4 mb-4">
                                            There's a limit of 5000 calls per hour on the Github API, getting everything will take over a year won't it?</h4>
                                        <p>If you ask that, then you must be more acquainted with the API than we were when we started. <br>
                                            But no sweat! You might have noticed that you need to register on the website with your GitHub account to do certain actions on the website,<br>
                                            Well when you do, we get access to a token created as a link between your account and our application, and it allows us to do two things:
                                            <br><br>
                                            1 - Get access to the information about your public repositories (and only that!), so nothing anyone couldn't already get,
                                            <br>
                                            2 - Call the API with that token that specifically was created for our app, so no downsize for you at all!
                                            <br><br>
                                            What that means is that by registering over here, you allow us to fill our database even faster, without giving us any info or anything,
                                            so please consider registering <i class="fas fa-heart  text-danger"></i>

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <h3>That's where miscellaneous questions will go</h3>
                                        <p class="fst-italic">
                                            It should fill up over time, we'll add the questions asked on Twitter/Github here for everyone.<br>
                                            If you have any queries that aren't already answered, <span class="text-primary">don't hesitate to reach us!</span>
                                        </p>
                                        <h4 class="mt-4 mb-4">
                                            How can I be user of the day ?</h4>
                                        <p>
                                            Users of the day are randomly selected among the many users on our website.<br>
                                            There are two conditions to be selected:
                                            <br><br>
                                            1 - Having at least 250 stargazers, this is to avoid selecting inactive users,
                                            <br>
                                            2 - Having your twitter handle on your GitHub profile, we tweet our selected users everyday and @ them on Twitter so that's a requirement.
                                            <br><br>
                                            Once these two conditions are respected, you will enter the random pool from which our app draws each day.
                                        </p>
                                        <h4 class="mt-4 mb-4">
                                            Why is the location on my profile wrong?</h4>
                                        <p>
                                            The location on your profile comes from the location field on your GitHub profile.<br>
                                            All we do is send it to the <a target="_blank" href="https://photon.komoot.io/" rel="noopener noreferrer">Photon API</a>
                                            to try and turn it into a real address.<br><br>
                                            But the API can be wrong, especially when the place entered isn't a real one.<br>
                                            In that case, you have several options:
                                            <br><br>
                                            1 - Fix the location on your GitHub profile directly and then refresh your account on Git Stars,
                                            <br>
                                            2 - Reach us on Twitter to tell us,
                                            <br>
                                            3 (the best one) - Fork our repository and add your GitHub location to the <a href="https://github.com/pgrimaud/git-stars/blob/master/src/Service/GeocodeService.php" rel="noreferrer noopener" target="_blank">fixLocation function</a>,
                                            to change it into something more recognizable (it will not change the location that appears on your profile)
                                            <br><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <h3>Technologies used to build this website</h3>
                                        <p class="fst-italic">We used several technologies to build this website. You can find the main ones below:</p>
                                        <h4 class="mt-4 mb-4">Technologies:</h4>
                                        <p>PHP 8 - <a target="_blank" href="https://www.php.net/" rel="noopener noreferrer">https://www.php.net/</a></p>
                                        <p>Symfony (& components) - <a target="_blank" href="https://symfony.com/" rel="noopener noreferrer">https://symfony.com/</a></p>
                                        <p>MariaDB - <a target="_blank" href="https://mariadb.org/" rel="noopener noreferrer">https://mariadb.org/</a></p>
                                        <p>RabbitMQ - <a target="_blank" href="https://www.rabbitmq.com/" rel="noopener noreferrer">https://www.rabbitmq.com/</a></p>
                                        <p>Redis - <a target="_blank" href="https://www.redis.io/" rel="noopener noreferrer">https://www.redis.io/</a></p>
                                        <h4 class="mt-4 mb-4">Services:</h4>
                                        <p>GitHub API - <a target="_blank" href="https://docs.github.com/en/rest" rel="noopener noreferrer">https://docs.github.com/en/rest</a></p>
                                        <p>GCP Big Query dataset by GH Archive - <a target="_blank" href="https://www.gharchive.org/" rel="noopener noreferrer">https://www.gharchive.org/</a></p>
                                        <p>Photon by <a target="_blank" href="https://www.komoot.de/" rel="noopener noreferrer">Komoot</a> - <a target="_blank" href="https://photon.komoot.io/" rel="noopener noreferrer">https://photon.komoot.io/</a></p>
                                        <p>Server hosted by <a href="https://www.scaleway.com/en/" target="_blank" rel="noopener noreferrer">Scaleway</a>
                                            and CDN provided by <a href="https://www.cloudflare.com" target="_blank" rel="noopener noreferrer">Cloudflare</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <h3>Cookies & Privacy</h3>
                                        <p>All the data we fetch is public data made available by GitHub.<br>
                                            If nonetheless you wish to remove any information that might be appearing on our
                                            website, reach us on <a href="https://twitter.com/gitstars" target="_blank" rel="noopener noreferrer">Twitter</a>
                                            and we will take care of it <i class="fas fa-heart text-danger"></i></p>
                                        <p>Our site only uses necessary cookies related to your session on the website,<br>
                                            no other cookies or tracers are in place</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}