{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumbs.html.twig' with {
        'links' : [
            {
                'title': 'About',
                'link': null
            }
        ]
    } %}
{% endblock %}

{% block body %}
    <section id="about" class="about">
        <div class="container">
            <div class="row content">
                <div class="col-lg-6">
                    <h2>GIT stars</h2>
                    <h3>Discover your ranking on GitHub</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        This project was inspired by <a href="http://git-awards.com/" rel="noopener" target="_blank">Git Awards</a>!<br>
                        Since it apparently isn't supported anymore we thought we'd take the concept back and add our own touch to it.
                    </p>

                    <p>
                        This was made in couple weeks as an exercise in the context of an internship. <br>
                        We'd love some feedback so don't hesitate to open an issue on the
                        <a href="https://www.github.com/pgrimaud/git-stars" target="_blank">GitHub repo <i class="fas fa-external-link-alt"></i></a>
                        or send us a Tweet to tell us about your experience!
                    </p>
                    <p class="fst-italic">
                        Original made by <a href="https://www.github.com/pgrimaud" target="_blank">@pgrimaud</a> and <a href="https://www.github.com/nispeon" target="_blank">@nispeon</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">

            <div class="section-title">
                <h2>About Git Stars</h2>
                <p>Frequently asked questions</p>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Who are we?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">How does this website works?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Technologies & Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Cookies & Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-12 details order-2 order-lg-1">
                                    <h3>Who are we?</h3>
                                    <p class="fst-italic">This website was created by <a href="https://www.github.com/pgrimaud" target="_blank">@pgrimaud</a> and <a href="https://www.github.com/nispeon" target="_blank">@nispeon</a></p>
                                    <h4 class="mt-4 mb-4">Pgrimaud:</h4>
                                    <p></p>
                                    <h4 class="mt-4 mb-4">
                                        🐱 Nispeon:</h4>
                                    <p>Hi, my name's Julien and I'm a student in web development in Paris.<br>
                                        This website was made during my internship with Pierre in the transition between
                                        my 2nd and 3rd year of college. <br>
                                        It was supposed to be work, but it turned out to be a really fun exercise, and it
                                        taught me a lot of PHP and coding in general. <br>
                                        I'm not the most skillful developer out there (yet!), but I certainly aim to get better
                                        and I'd be happy to talk about development with you, it's always a great way to learn new stuff!<br>
                                        Feel free to reach me on <a href="https://twitter.com/nispeon" target="_blank">Twitter</a>, and in the meantime, enjoy your visit on Git-stars! <i class="fas fa-star text-warning"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-12 details order-2 order-lg-1">
                                    <h3>How does it work?</h3>
                                    <p class="fst-italic">It's really not that complicated, though it still required some real thinking.</p>
                                    <p>Without going into details, we are fetching data from GitHub through their <a href="https://docs.github.com/en/rest" target="_blank">API</a>
                                        and store it in our database.<br>
                                        Then whenever we find that someone has written something in the "location" input on their account, we
                                        use the <a target="_blank" href="https://photon.komoot.io/">Photon API</a> to geolocate it,
                                        and from there we can create our region-based rankings.
                                    </p>
                                    <h4 class="mt-4 mb-4">
                                        There's over 56 million Github profiles though, how will you fetch all that?</h4>
                                    <p>Well fetching everything is no easy task.<br>
                                        To get all that info, little by little, we have automated the fetching process, and the website is always filling up!<br>
                                        We put a priority on active users though, as to get the most relevant accounts first.
                                        <br>We've also put in place a priority-queue, so that whenever anyone looks for a user on the website,
                                        it's profile is immediately added to our database.
                                    </p>
                                    <h4 class="mt-4 mb-4">
                                        There's a limit of 5000 calls per hour on the Github API, getting everything will take over a year won't it?</h4>
                                    <p>If you ask that, then you must be more acquainted with the API than we were when we started. <br>
                                        But no sweat! You might have noticed that you need to register on the website with your GitHub account to do certain actions on the website,<br>
                                        Well when you do, we get access to a token created as a link between your account and our application, and it allows us to do two things:
                                        <br><br>
                                        1 - Get access to th information about your public repositories (and only that!), so nothing anyone couldn't already get,
                                        <br>
                                        2 - Call the API with that token that specifically was created for our app, so no downsize for you at all!
                                        <br><br>
                                        What that means is that by registering over here, you allow us to fill our database even faster, without giving us any info or anything,
                                        so please consider registering <i class="fas fa-heart  text-danger"></i>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-12 details order-2 order-lg-1">
                                    <h3>Technologies used to buid this website</h3>
                                    <p class="fst-italic">We used several technologies to build this website. You can find the main ones below:</p>
                                    <h4 class="mt-4 mb-4">Technologies:</h4>
                                    <p>PHP 8 - <a target="_blank" href="https://www.php.net/">https://www.php.net/</a></p>
                                    <p>Symfony (& components) - <a target="_blank" href="https://symfony.com/">https://symfony.com/</a></p>
                                    <p>MariaDB - <a target="_blank" href="https://mariadb.org/">https://mariadb.org/</a></p>
                                    <p>RabbitMQ - <a target="_blank" href="https://www.rabbitmq.com/">https://www.rabbitmq.com/</a></p>
                                    <p>Redis - <a target="_blank" href="https://www.redis.io/">https://www.redis.io/</a></p>
                                    <h4 class="mt-4 mb-4">Services:</h4>
                                    <p>GitHub API - <a target="_blank" href="https://docs.github.com/en/rest">https://docs.github.com/en/rest</a></p>
                                    <p>GCP Big Query dataset by GH Archive - <a target="_blank" href="https://www.gharchive.org/">https://www.gharchive.org/</a></p>
                                    <p>Photon by <a target="_blank" href="https://www.komoot.de/">Komoot</a> - <a target="_blank" href="https://photon.komoot.io/">https://photon.komoot.io/</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-12 details order-2 order-lg-1">
                                    <h3>Cookies & Privacy</h3>
                                    <p>All the data we fetch is public data made available by GitHub.<br>
                                        If nonetheless you wish to remove any information that might be appearing on our
                                        website, reach us on Twitter and we will take care of it <i class="fas fa-heart text-danger"></i></p>
                                    <p>Our site only uses necessary cookies related to your session on the website,<br>
                                        no other cookies or tracers are in place</p>
                                    <p>Server hosted by <a href="https://www.scaleway.com/en/" target="_blank">Scaleway</a>
                                    and CDN provided by <a href="https://www.cloudflare.com" target="_blank">Cloudflare</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}