{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if search_error %}
            <div class="alert alert-danger">
            <p>{{ search_error }}</p>
            </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="search-form col-6">
                <h3 class="sidebar-title">Search a user</h3>
                {{ form_start(search_form) }}
                    <button type="submit"><i class="fas fa-search"></i></button>
                {{ form_end(search_form) }}
            </div>
        </div>
    </div>
{% endblock %}