security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        hwi:
            id: App\Client\GitHub\GitHubUserProvider

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: ~
            logout:
                path: security_logout
            oauth:
                resource_owners:
                    github: "/callback"
                login_path: /login
                use_forward: false
                failure_path: /login

                oauth_user_provider:
                    service: App\Client\GitHub\GitHubUserProvider

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
