version: '3.7'

services:
    mysql:
        container_name: 'git-stars_mysql'
        hostname: 'git-stars_mysql'
        image: 'mysql:5.7'
        ports: 
            - '3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: root