<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Title</h2>
            <ol>
                <li><a href="{{ path('app_index') }}">Home</a></li>
                <li>Title</li>
            </ol>
        </div>
    </div>
</section>