<footer id="footer">
    <div class="container">
        <div class="copyright">
            {{ "now"|date('Y')}} - <a target="_blank" href="https://github.com/pgrimaud/git-stars" rel="noopener" class="text-white"><i class="fab fa-github fs-6 m-1"></i> Source code</a>
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/" target="_blank" rel="noopener noreferrer nofollow">BootstrapMade</a> - This project is not affiliated with or endorsed by GitHub.
        </div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-alt-circle-up"></i></a>
    </div>
</footer>

{% block javascript %}
    <script type="text/javascript">
        function page() {
            /**
             * Easy selector helper function
             */
            const select = (el, all = false) => {
                el = el.trim()
                if (all) {
                    return [...document.querySelectorAll(el)]
                } else {
                    return document.querySelector(el)
                }
            }

            /**
             * Easy event listener function
             */
            const on = (type, el, listener, all = false) => {
                let selectEl = select(el, all)
                if (selectEl) {
                    if (all) {
                        selectEl.forEach(e => e.addEventListener(type, listener))
                    } else {
                        selectEl.addEventListener(type, listener)
                    }
                }
            }

            /**
             * Easy on scroll event listener
             */
            const onscroll = (el, listener) => {
                el.addEventListener('scroll', listener)
            }

            /**
             * Toggle .header-scrolled class to #header when page is scrolled
             */
            let selectHeader = select('#header')
            if (selectHeader) {
                const headerScrolled = () => {
                    if (window.scrollY > 100) {
                        selectHeader.classList.add('header-scrolled')
                    } else {
                        selectHeader.classList.remove('header-scrolled')
                    }
                }
                    window.addEventListener('load', headerScrolled)
                    onscroll(document, headerScrolled)
            }

            /**
             * Back to top button
             */
            let backtotop = select('.back-to-top')
            if (backtotop) {
                const toggleBacktotop = () => {
                    if (window.scrollY > 100) {
                        backtotop.classList.add('active')
                    } else {
                        backtotop.classList.remove('active')
                    }
                }
                window.addEventListener('load', toggleBacktotop)
                onscroll(document, toggleBacktotop)
            }
        }

        window.onload = page();
    </script>
{% endblock %}