<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Git-stars</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/" target="_blank" rel="noopener nofollow">BootstrapMade</a>
        </div>
    </div>
</footer>