{% extends 'base.html.twig' %}

{% block body %}
    {% for language in languages %}
        <img src="https://cdn.jsdelivr.net/npm/programming-languages-logos/src/{{ language.slug }}/{{ language.slug }}_64x64.png">
        <a href="{{ path('languages_show', {'slug' : language.slug}) }}">{{ language.name }}</a>
        <br>
    {% endfor %}
{% endblock %}

