{% extends 'base.html.twig' %}

        {% block body %}
            <a href="{{ path('languages_index') }}">Return</a>
            <h1>{{ language.name }}</h1>

            <ol>
            {% for userLanguage in userLanguages %}
                <li>{{ userLanguage.username }} | {{ userLanguage.stars }} stars</li>
            {% endfor %}
            </ol>

        {% endblock %}

