{% extends 'base.html.twig' %}

{% block title %}{{ language.name }}{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('languages_index') }}"><i class="fas fa-arrow-alt-circle-left"></i> Go to languages</a>
        <h1>{{ language.name }}</h1>
        <section id="team" class="team">
            <div class="container">
                <div class="row">
                    {% for userLanguage in userLanguages %}
                        {% include 'partials/user-card.html.twig' with {'user' : userLanguage, 'stars': userLanguage.stars} %}
                    {% endfor %}
                    {% include 'partials/paginate.html.twig' with {
                        'paginate': paginate,
                        'route': 'languages_show',
                        'route_parameters': {
                            'slug' : language.slug
                        }
                    }  %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}

