<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </head>

    <body>
        {% include 'partials/header.html.twig' %}

        <main id="main">
            {% block body %}{% endblock %}
        </main>

        {% include 'partials/footer.html.twig' %}

        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    </body>

</html>
