<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Git Stars - {% block title %}Welcome!{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </head>

    <body>
        {% include 'partials/header.html.twig' %}

        <main id="main">
            {% include 'partials/breadcrumbs.html.twig' %}
            {% block body %}{% endblock %}
        </main>

        {% include 'partials/footer.html.twig' %}

        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    </body>

</html>
