{% extends 'base.html.twig' %}

        {% block body %}
            {% for user in users %}

                {{ loop.index + 25 * (paginate.current - 1) }} - <a href="{{ path('user_show', {'username' : user[0].username}) }}">{{ user[0].username }}</a> | {{ user.stars }} stars
                <br>
            {% endfor %}

            {% include 'partials/paginate.html.twig' with {
                'paginate': paginate,
                'route': 'user_index',
                'route_parameters': {
                }
            }  %}
        {% endblock %}

