{% extends 'base.html.twig' %}

{% block body %}
<section id="team" class="team">
    <div class="container">
        <div class="row">
            {% for user in users %}
                {% include 'partials/user-card.html.twig' with {'user' : user[0], 'stars': user.stars} %}
            {% endfor %}
            {% include 'partials/paginate.html.twig' with {
                'paginate': paginate,
                'route': 'user_index',
                'route_parameters': {
                }
            }  %}
        </div>
    </div>
</section>
{% endblock %}

